# Created by .ignore support plugin (hsz.mobi)
token.json
.idea/WGVerificationBot.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
node_modules/

